<!-- 
  <form action="/" method="post" id="selection-form">
    <button form="selection-form" name="pick" value="forehand">Forehand</button>
    <button form="selection-form" name="pick" value="backhand">Backhand</button>
    <button form="selection-form" name="pick" value="backhand">Drop Shot</button>          
</form> -->

    <h1 id="user-choice"></h1>
    <h1 id="versus">VS</h1>
    <h1 id="computer-choice"></h1>
    <h1 id="result"></h1>

    <button id="forehand">Forehand</button>
    <button id="backhand">Backhand</button>
    <button id="dropshot">Drop Shot</button>  

    <div id="special-point-container">
      <h1 id="special-point"></h1>
    </div>


<button class="btn btn-success" id="start" type="button">Start</button>

<table id="score-table">
   <tr>
      <td>Match</td>
      <td id="match">0-0</td>
   </tr>
   <tr>
      <td>Sets</td>
      <td id="sets">0-0</td>
   </tr>
    <tr>
      <td>Tie Break</td>
      <td id="tiebreak">0-0</td>
   </tr>
    <tr>
      <td>Games</td>
      <td id="games">0-0</td>
   </tr>
    <tr>
      <td>Points</td>
      <td id="points">0-0</td>
   </tr>   
</table>

<table id="shot-history">
  <tr>
    <th>ID</th>
    <th>Player 1 Shot</th>
    <th>Player 2 Shot</th>
    <th>Rally Winner</th>
  </tr>
  

</table>

<div id="logs">
</div>

    <script src="/javascript/Player.js"></script>
    <script src="/javascript/Game.js"></script>
    <script src="app.js"></script>
        <script>
      logStart = function(response){
                      $("#shot-history tr:last").after(function(){
                        output =""
                        $(response).each(function(){
                            output += "<tr><td>" + this.id.toString() + "</td><td>" + capitaliseFirstLetter(this.player1_shot) + "</td><td>" + capitaliseFirstLetter(this.player2_shot) + "</td><td>" + capitaliseFirstLetter(this.rally_winner) + "</td></tr>";
                        }) //end of each
                        return output;
                      })  //end of after
                };

  //get json object for all shots at the start and update table
  logInitializer = function(){
    $.get("/shots", {amount: "all"}, logStart);
  }

  logInitializer();

    </script>


 
